.h3-style{
    color: #18BC9C;
}

tbody tr{
    vertical-align: middle;
    border-top: 1px solid #DDDDDD;
}

tr td{
    vertical-align: middle;
}

a{
    text-decoration: none;
}

#flexible-img{
    max-width: 100px;
    max-height: 80px;
}

/**下拉框美化**/
.stateSelect{
    height: 40px;
    border: 1px solid white;
    font-size: 10px;
    background: #1BBC9D;
    color: white;
}

.a2{
    display: block;
    cursor: pointer;
    border: 1px solid #18BC9C;
    border-radius: 2px;
    text-align: center;
}

.a2:hover{
    border: 1px solid white;
    background: #18BC9C;
    color: white;
}