#ctrl-img{
    width: 50px;
}

.a2-user{
    display: block;
    cursor: pointer;
    border: 1px solid #18BC9C;
    border-radius: 2px;
    text-align: center;
}

.a2-user:hover{
    border: 1px solid white;
    background: #18BC9C;
    color: white;
}